[user]
    name = Matthias Schmitt
    email = male.schmitt@posteo.de
[color]
    ui = auto
[push]
    default = simple
    followTags = true
[color]
    ui = auto
[core]
    safecrlf = true
[merge]
    tool = vimdiff
[alias]
    unstage = reset HEAD --
    last = log -1 HEAD
    tree = log --graph --pretty=graph --date=relative --branches
    graph = log --graph --pretty=graphy --date=relative --branches
[format]
    pretty = graphy
[pretty]
    # short commit hash - branch info - commit msg - (date)
    graph = %h %d %s %Cgreen(%cd)%Creset
    # short commit hash - branch info - commit msg - (date) - <author>
    graphy = %C(auto)%h %d %s%Creset %Cgreen(%cd) %C(bold blue)<%an>%Creset
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
