[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
Type=notify
ExecStart=/usr/bin/emacs --fg-daemon
SuccessExitStatus=15
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Restart=on-abnormal
TimeoutStartSec=10min

[Install]
WantedBy=default.target
